@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter";
}

body.home {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: 120px 60px 1fr 60px;
}

header {
  grid-area: header;
  width: 100%;
  text-align: center;
  background-color: #6633cc;
  padding: 2rem;
  margin: 0;
  color: #FEFDFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 2px #2b2b2b;
}

nav {
  grid-area: nav;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #2b2b2b;
  color: #FEFDFF;
  display: flex;
  align-items: center;
}
nav .breadcrumb {
  font-size: 0.8rem;
  font-weight: bold;
}

main {
  grid-area: main;
  height: calc(100vh - 240px);
  background-color: #ccc;
  padding: 15px 20px;
}
main .content {
  background-color: #FEFDFF;
  padding: 20px;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: 0 0 25px 2px rgba(7, 2, 13, 0.3);
}

.modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.node {
  flex-basis: 32%;
  margin: 1rem 0;
  border-radius: 8px;
  height: 100%;
}
.node h3 {
  text-align: center;
  color: #FEFDFF;
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
}
.node .links {
  list-style: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0 0 6px 6px;
  background-color: #FEFDFF;
}

.links li {
  margin: 0.4rem 0;
  transition: 0.3s all ease;
  padding: 0.1rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.links li a {
  font-size: 0.9rem;
  width: 100%;
  text-decoration: none;
  color: #07020D;
  transition: all 0.3s ease;
  padding: 0.5rem 0.1rem;
}
.links li:hover {
  transform: translateX(5px);
}
.links li:hover a {
  color: #6633cc;
}

.node[c__black] {
  background-color: #07020D;
  border: 2px solid #07020D;
}

.node[c__sec] {
  background-color: #FC7753;
  border: 2px solid #FC7753;
}

.node[c__pri] {
  background-color: #6633cc;
  border: 2px solid #6633cc;
}

.node[c__ora] {
  background-color: #ff1111;
  border: 2px solid #ff1111;
}

.node[c__gre] {
  background-color: #2E933C;
  border: 2px solid #2E933C;
}

.node[c__pur] {
  background-color: #681e65;
  border: 2px solid #681e65;
}

.node[c__coo] {
  background-color: #b87333;
  border: 2px solid #b87333;
}

button.exc {
  outline: none;
  background: #6c3bce;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin: 15px 0;
  padding: 0.8rem 1.2rem;
  color: #FEFDFF;
  font-weight: bold;
  box-shadow: 0 6px 0 0 #47248f;
  transition: all 0.3s ease;
}
button.exc:hover {
  box-shadow: 0 4px 0 0 #47248f;
  transform: translateY(2px);
}
button.exc:active {
  box-shadow: 0 0 0 0 #47248f;
  transform: translateY(6px);
}

footer {
  grid-area: footer;
  background-color: #6633cc;
  width: 100%;
  padding: 1rem 2rem;
  color: #FEFDFF;
  text-align: right;
  font-weight: bold;
}

p[code] {
  background-color: #333;
  padding: 1rem 2rem;
  color: #FEFDFF;
  margin: 1rem 0;
}

body.exercise {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: 120px 70px 1fr 60px;
}

nav.nav-exercise {
  justify-content: space-between;
}

.actions {
  display: flex;
}
.actions a, .actions button {
  font-size: 1rem;
  margin: 0 0.4rem;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.actions a {
  text-decoration: none;
  color: #FEFDFF;
  border: 2px solid #6633cc;
}
.actions a:hover {
  background-color: #6633cc;
  border: 2px solid rgba(254, 253, 255, 0.5);
}
.actions [no-format] {
  border: 2px solid #FC7753;
}
.actions [no-format]:hover {
  background-color: #FC7753;
  border: 2px solid rgba(254, 253, 255, 0.5);
}

main[exercise] {
  grid-area: main;
  height: calc(100vh - 250px);
  background-color: #ccc;
  padding: 15px 20px;
}

.ex-title {
  padding: 0.8rem 0.5rem 0.3rem;
  border-bottom: 2px solid rgba(7, 2, 13, 0.2);
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */